---
// No frontmatter script needed for this static layout
---

<nav class="bg-black flex justify-around">
  <div class="px-4">
    <a href="index.html"
      ><img src="assets/images/logo.png" alt="logo" class="h-10" /></a
    >
  </div>

  <!-- Navigation Links -->
  <ul class="flex text-white justify-center py-4 px-4">
    <li>
      <a href="/" class="px-6 hover:text-[#b476e5]">Home</a>
    </li>
    <li>
      <a href="/landing" class="px-6 hover:text-[#b476e5]">Landing</a>
    </li>
    <li>
      <a href="/portfolio" class="px-6 hover:text-[#b476e5]">Portfolio</a>
    </li>
    <li>
      <a href="/service" class="px-6 hover:text-[#b476e5]">Service</a>
    </li>
    <li>
      <a href="/team" class="px-6 hover:text-[#b476e5]">Team</a>
    </li>
    <li>
      <a href="/about" class="px-6 hover:text-[#b476e5]">About Us</a>
    </li>
    <li>
      <a href="/career" class="px-6 hover:text-[#b476e5]">Career</a>
    </li>
  </ul>

  <!-- Right Aligned Items -->
  <div class="flex">
    <!-- Search Icon -->
    <a href="/search" class="hover:text-gray-300 text-white"> sera</a>

    <!-- Shopping Cart Icon -->
    <a href="/cart" class="hover:text-gray-300 text-white"> cart</a>

    <!-- Theme Toggle Button -->
    <button id="theme-toggle" class="text-white hover:text-gray-300">
      theme
    </button>
  </div>
</nav>
