---
import Header from "../components/Header.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Augmented Developer">
  <header class="bg-[#08111f] text-white shadow-md !sticky top-0 z-20">
    <div class="max-w-[1110px] mx-auto">
      <div
        class="flex justify-between md:justify-around items-center py-5 px-4 md:px-0"
      >
        <div class="flex-shrink-0">
          <img
            src="/public/assets/images/logo-ad.png"
            alt="Logo"
            class="h-12"
          />
        </div>
        <div class="flex">
          <button
            class="bg-[#47bdff] h-10 w-10 text-center rounded-full block md:hidden"
            id="menu-btn"
          >
            <svg
              width="22"
              height="18"
              viewBox="0 0 22 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="text-white text-center ml-2"
            >
              <path
                d="M2 15H11C11.552 15 12 15.447 12 16C12 16.553 11.552 17 11 17H2C1.448 17 1 16.553 1 16C1 15.447 1.448 15 2 15Z"
                fill="currentColor"></path>
              <path
                d="M2 8H20C20.552 8 21 8.447 21 9C21 9.553 20.552 10 20 10H2C1.448 10 1 9.553 1 9C1 8.447 1.448 8 2 8Z"
                fill="currentColor"></path>
              <path
                d="M21 2C21 1.447 20.552 1 20 1H7C6.448 1 6 1.447 6 2C6 2.553 6.448 3 7 3H20C20.552 3 21 2.553 21 2Z"
                fill="currentColor"></path>
            </svg>
          </button>
          <div class="mr-8 ml-4 block md:hidden">
            <ThemeIcon />
          </div>
        </div>

        <nav id="menu" class="hidden md:block">
          <ul class="flex flex-col md:flex-row items-center">
            <ul class="flex items-center">
              <li>
                <a
                  href="/"
                  class="text-white px-5 py-2 rounded-md text-md font-medium hover:bg-navy-700 hover:text-[#b476e5]"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="/the-method"
                  class="text-white px-5 py-2 rounded-md text-md font-medium hover:bg-navy-700 hover:text-[#b476e5]"
                  >The Method</a
                >
              </li>
              <li>
                <a
                  href="/offer"
                  class="text-white px-5 py-2 rounded-md text-md font-medium hover:bg-navy-700 hover:text-[#b476e5]"
                  >Offer</a
                >
              </li>
              <li>
                <a
                  href="/start"
                  class="text-white px-5 py-2 rounded-md text-md font-medium hover:bg-navy-700 hover:text-[#b476e5]"
                  >Start</a
                >
              </li>
              <li>
                <a
                  href="/blog"
                  class="text-white px-5 py-2 rounded-md text-md font-medium hover:bg-navy-700 hover:text-[#b476e5]"
                  >Blog</a
                >
              </li>
              <div class="mr-8 ml-4 hidden md:block">
                <ThemeIcon />
              </div>
            </ul>
          </ul>
        </nav>
      </div>

      <div
        id="menu-responsive"
        class="hidden absolute right-1 h-[100vh] top-0 w-[300px] bg-white shadow-md z-10"
      >
        <ul class="flex flex-col items-end py-5">
          <button class="mb-4" id="close-menu"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-6 w-6 text-black"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
          <li class="border-t-2 w-full py-3">
            <a
              href="/"
              class="text-[#08111f] hover:text-[#b476e5] px-5 py-2 text-md font-medium"
              >Home</a
            >
          </li>
          <li class="border-t-2 w-full py-3">
            <a
              href="/the-method"
              class="text-[#08111f] hover:text-[#b476e5] px-5 py-2 text-md font-medium"
              >The Method</a
            >
          </li>
          <li class="border-t-2 w-full py-3">
            <a
              href="/offer"
              class="text-[#08111f] hover:text-[#b476e5] px-5 py-2 text-md font-medium"
              >Offer</a
            >
          </li>
          <li class="border-t-2 w-full py-3">
            <a
              href="/start"
              class="text-[#08111f] hover:text-[#b476e5] px-5 py-2 text-md font-medium"
              >Start</a
            >
          </li>
          <li class="border-t-2 w-full py-3">
            <a
              href="/blog"
              class="text-[#08111f] hover:text-[#b476e5] px-5 py-2 text-md font-medium"
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div
    class="bg-[url(public/assets/images/inner-page-hero-bg.png)] bg-cover bg-bottom bg-no-repeat pt-[82px] lg:pt-[106px] dark:bg-[#101926]"
  >
    <div class="relative">
      <div class="container max-w-[1110px] mx-auto">
        <div
          class="relative w-full py-14 md:my-14 md:inline-block md:py-0 lg:my-[128px]"
        >
          <div
            class="heading relative mb-8 text-center lg:mb-0 lg:w-1/2 ltr:lg:text-left rtl:lg:text-right"
          >
            <h6
              class="text-lg lg:text-left font-extrabold leading-normal text-[#b476e5]"
            >
              Project Management
            </h6>
            <h4 class="text-4xl font-bold lg:text-left text-white">
              Why is JIRA important for managing projects?
            </h4>
            <div class="mt-8">
              <ul
                class="items-center justify-center pt-6 sm:flex lg:justify-start"
              >
                <li class="flex items-center justify-center">
                  <img src="assets/images/sophia-avtar.png" alt="avtar" />
                  <span class="px-4 font-semibold sm:text-lg text-[#7780a1]"
                    >Sophia Reyes</span
                  >
                </li>
                <li
                  class="relative px-4 font-semibold before:absolute before:top-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray ltr:before:left-0 rtl:before:right-0 sm:text-lg sm:before:h-1 sm:before:w-1 text-[#7780a1]"
                >
                  June 2, 2021
                </li>
                <li
                  class="relative px-4 font-semibold before:absolute before:top-1/2 before:-translate-y-1/2 before:rounded-full before:bg-gray ltr:before:left-0 rtl:before:right-0 sm:text-lg sm:before:h-1 sm:before:w-1 text-[#7780a1]"
                >
                  3 mins read
                </li>
              </ul>
            </div>
          </div>
          <div
            class="top-0 mt-6 ltr:right-0 rtl:left-0 md:mt-0 lg:absolute right-10"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            <img
              src="assets/images/blog-detail-hero.png"
              alt="blog-detail-hero"
              class="mx-auto h-80 rounded-[32px] object-cover sm:h-[400px] sm:w-[445px]"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <section
    class="bg-gradient-to-t from-white to-transparent py-14 dark:bg-none md:py-[100px] flex justify-center dark:bg-[#101926]"
  >
    <div class="container max-w-[1110px] m-auto mx-12 lg:mx-0">
      <div class="prose dark:prose-invert">
        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          Where does it come from?
        </h2>
        <p class="text-[#7780a1] lg:w-[950px] leading-8 my-6 text-lg">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old.
        </p>
        <p class="text-[#7780a1] lg:w-[950px] leading-8 my-6 text-lg">
          Richard McClintock, a Latin professor at Hampden-Sydney College in
          Virginia, looked up one of the more obscure Latin words, consectetur,
          from a Lorem Ipsum passage, and going through the cites of the word in
          classical literature, discovered the undoubtable source.
        </p>

        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          Where can I get some?
        </h2>
        <p class="text-[#7780a1] lg:w-[950px] leading-8 my-6 text-lg">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        </p>

        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          Where does it come from?
        </h2>
        <ul
          class="text-[#7780a1] lg:w-[950px] leading-8 my-6 text-lg list-disc ml-5"
        >
          <li>Vestibulum hendrerit tortor ac rutrum porta.</li>
          <li>Donec gravida elit a auctor luctus.</li>
          <li>Integer iaculis odio id blandit varius.</li>
        </ul>

        <h4 class="text-[#111827] text-[27px] font-semi-bold">
          What is Lorem Ipsum?
        </h4>
        <p class="text-[#7780a1] lg:w-[1150px] leading-8 my-6 text-lg">
          Lorem Ipsum has been the industry's standard dummy text ever since the
          1500s, when an unknown printer took a galley of type and scrambled it
          to make a type specimen book.
        </p>

        <div class="not-prose gap-[30px] pb-12 flex">
          <div
            class="group h-[400px] overflow-hidden rounded-[32px] lg:col-span-2"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <img
              src="assets/images/blog-detail-1.png"
              alt="blog-detail-1"
              class="h-full w-[730px] rounded-[32px] object-cover transition duration-500 group-hover:scale-110"
            />
          </div>
          <div
            class="group h-[400px] overflow-hidden rounded-[32px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <img
              src="assets/images/blog-detail-2.png"
              alt="blog-detail-2"
              class="h-full w-full rounded-[32px] object-cover transition duration-500 group-hover:scale-110"
            />
          </div>
        </div>

        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          1914 translation by H. Rackham
        </h2>
        <p class="text-[#7780a1] lg:w-[1150px] leading-8 my-6 text-lg">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
          ab illo inventore veritatis et quasi architecto beatae vitae dicta
          sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
          qui ratione voluptatem sequi nesciunt.
        </p>

        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          The standard Lorem Ipsum passage
        </h2>
        <p class="text-[#7780a1] lg:w-[1150px] leading-8 my-6 text-lg">
          Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
          Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written
          in 45 BC. This book is a treatise on the theory of ethics, very
          popular during the Renaissance. The first line of Lorem Ipsum, "Lorem
          ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>
        <p class="text-[#7780a1] lg:w-[1150px] leading-8 my-6 text-lg">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
        </p>

        <div class="not-prose flex gap-[30px] pb-12">
          <div
            class="group h-[324px] overflow-hidden rounded-[20px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <img
              src="assets/images/blog-detail-3.png"
              alt="blog-detail-3"
              class="h-full w-full rounded-[20px] object-cover transition duration-500 group-hover:scale-110"
            />
          </div>
          <div
            class="group h-[324px] overflow-hidden rounded-[20px]"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <img
              src="assets/images/blog-detail-4.png"
              alt="blog-detail-4"
              class="h-full w-full rounded-[20px] object-cover transition duration-500 group-hover:scale-110"
            />
          </div>
        </div>

        <h2 class="text-[#111827] text-[27px] font-semi-bold">
          Nunc et sem vel diam dignissim
        </h2>
        <p class="text-[#7780a1] lg:w-[1150px] leading-8 my-6 text-lg">
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the charms of pleasure of
          the moment, so blinded by desire, that they cannot foresee the pain
          and trouble that are bound to ensue; and equal blame belongs to those
          who fail in their duty through weakness of will, which is the same as
          saying through shrinking from toil and pain.
        </p>
      </div>
    </div>
  </section>
  <footer
    class="mt-auto bg-white dark:bg-[#161F2B] dark:bg-gradient-to-b dark:from-white/[0.03] dark:to-transparent flex justify-center pl-4"
  >
    <div>
      <div class="container">
        <div
          class="grid gap-y-10 gap-x-4 py-14 sm:grid-cols-3 lg:grid-cols-5 lg:py-[100px]"
        >
          <div class="relative">
            <img
              src="assets/images/logo-ad.png"
              alt="Augmented Developers"
              class="h-28"
            />
            <ul class="mt-12 flex items-center gap-8">
              <li>
                <a
                  href="https://www.linkedin.com/company/augmented-devs/"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    ><path
                      d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"
                    ></path></svg
                  >
                </a>
              </li>

              <li>
                <a href="mailto:zeljko@dakic.com">
                  <svg
                    width="24"
                    height="24"
                    xmlns="http://www.w3.org/2000/svg"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    ><path
                      d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"
                    ></path></svg
                  >
                </a>
              </li>
              <li>
                <a href="https://wa.me/+13129276020">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    ><path
                      d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
                    ></path></svg
                  >
                </a>
              </li>
            </ul>
            <img
              src="assets/images/footer-shape.png"
              alt="footer-shape"
              class="absolute bottom-4 right-0 sm:left-0"
            />
            <img
              src="assets/images/footer-shape-dark.png"
              alt="footer-shape-dark"
              class="absolute bottom-0 right-0 hidden dark:block sm:left-0"
            />
          </div>
          <div>
            <ul class="flex flex-col gap-3 font-bold">
              <li
                class="mb-3 text-lg font-extrabold text-black dark:text-white"
              >
                Quick Menu
              </li>
              <li>
                <a
                  href="index.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Home</a
                >
              </li>
              <li>
                <a
                  href="about-us"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >About Us</a
                >
              </li>
            </ul>
          </div>
          <div>
            <ul class="flex flex-col gap-3 font-bold">
              <li
                class="mb-3 text-lg font-extrabold text-black dark:text-white"
              >
                Services
              </li>
              <li>
                <a
                  href="offer.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >MVP development</a
                >
              </li>
              <li>
                <a
                  href="offer.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Micro Saas</a
                >
              </li>
              <li>
                <a
                  href="offer.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Company Website</a
                >
              </li>
              <li>
                <a
                  href="offer.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Ongoing development</a
                >
              </li>
            </ul>
          </div>
          <div>
            <ul class="flex flex-col gap-3 font-bold">
              <li
                class="mb-3 text-lg font-extrabold text-black dark:text-white"
              >
                Info
              </li>
              <li>
                <a
                  href="terms-conditions.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Terms & Conditions</a
                >
              </li>
              <li>
                <a
                  href="privacy-policy.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Privacy Policy</a
                >
              </li>

              <li>
                <a
                  href="faq.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >FAQs</a
                >
              </li>
              <li>
                <a
                  href="blog.html"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
          <div>
            <ul class="flex flex-col gap-3 font-bold">
              <li
                class="mb-3 text-lg font-extrabold text-black dark:text-white"
              >
                Information
              </li>
              <li>Chicago, IL U.S. - 60618</li>
              <li>
                Email - <a href="mailto:zeljko@dakic.com">zeljko@dakic.com</a>
              </li>
              <li>
                <a
                  href="https://wa.me/+13129276020"
                  class="inline-block transition hover:scale-110 hover:text-[#b476e5] text-[#7780a1]"
                  >Talk to us - WhatsApp</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div
        class="bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] py-5 dark:border-t-2 dark:border-white/5 dark:bg-none"
      >
        <div class="container">
          <div
            class="flex flex-col items-center justify-between text-center font-bold dark:text-white md:flex-row"
          >
            <div>
              Augmented Developers is a product of <a
                href="javascript:"
                class="text-primary transition hover:text-[#b476e5] text-[#7780a1]"
                >Dakic OnLine LLC</a
              > - Copyright © <span class="curr-year">2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <style>
    .active {
      color: #b476e5;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const menuBtn = document.getElementById("menu-btn");
      const menuResponsive = document.getElementById("menu-responsive");
      const closeMenu = document.getElementById("close-menu");
      const currentPath = window.location.pathname;
      const menuLinks = document.querySelectorAll("#menu a");

      menuLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("active");
        } else {
          link.classList.remove("active");
        }
      });
      if (menuBtn && menuResponsive && closeMenu) {
        // Event listener for opening the menu
        menuBtn.addEventListener("click", function () {
          menuResponsive.classList.toggle("hidden");
        });

        // Event listener for closing the menu
        closeMenu.addEventListener("click", function () {
          menuResponsive.classList.add("hidden");
        });
      } else {
        console.error("One or more elements could not be found");
      }
    });
  </script>
</Layout>
