<section class="py-14 lg:py-[100px]">
  <div class="container max-w-[1142px]">
    <div
      class="heading text-center lg:w-2/3 ltr:lg:text-left rtl:lg:text-right"
    >
      <h4 class="mb-5">Our Awards</h4>
      <p class="text-lg leading-[23px]">
        As the world's leading web & mobile app development company have been
        privileged to win
        <span class="font-semibold text-black dark:text-white"
          >13+ numerous awards</span
        > for our working process. We’re honored to be a recipient of each of these
        awards for our hard work & customers loyalty.
      </p>
    </div>
    <div
      class="grid gap-4 pt-5 sm:grid-cols-3 md:gap-[30px] lg:grid-cols-4 lg:pt-0"
    >
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award1.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award2.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award3.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award4.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award5.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award6.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award7.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000">
        <div
          class="rounded-[32px] border border-transparent bg-white py-9 px-4 transition hover:border-secondary"
        >
          <img
            src="assets/images/award8.png"
            alt="award"
            class="mx-auto h-[100px]"
          />
        </div>
      </div>
    </div>
  </div>
</section>
