<section class="py-14 lg:py-[100px]">
  <div class="container max-w-[1140px]">
    <div
      class="flex flex-col items-center justify-center lg:flex-row lg:justify-between"
    >
      <div class="heading text-center ltr:lg:text-left rtl:lg:text-right">
        <h6>Blog</h6>
        <h4>Unlock the latest trends/news</h4>
      </div>
      <div class="mb-8 flex items-center justify-end gap-4 lg:mb-0">
        <a
          href="blog.html"
          class="text-sm font-extrabold text-black transition hover:text-secondary dark:text-white dark:hover:text-secondary"
          >View All</a
        >
        <button
          type="button"
          class="blog-slider-button-prev flex h-10 w-10 items-center justify-center rounded-full bg-black/5 transition hover:bg-secondary dark:bg-white/5 dark:hover:bg-secondary"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="text-black rtl:rotate-180 dark:text-white"
          >
            <path
              d="M5.95007 1.2002L1.48924 5.3424C1.06317 5.73803 1.06317 6.41236 1.48924 6.80799L5.95007 10.9502"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </button>
        <button
          type="button"
          class="blog-slider-button-next text-p flex h-10 w-10 items-center justify-center rounded-full bg-black/5 transition hover:bg-secondary dark:bg-white/5 dark:hover:bg-secondary"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="text-black rtl:rotate-180 dark:text-white"
          >
            <path
              d="M1.05005 10.7998L5.51089 6.6576C5.93695 6.26197 5.93695 5.58764 5.51089 5.19201L1.05005 1.0498"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper blog-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div
            class="relative rounded-3xl border border-transparent bg-white transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark"
          >
            <a
              href="blog-details.html"
              class="absolute top-0 h-full w-full ltr:left-0 rtl:right-0"></a>
            <img
              src="assets/images/blog1.png"
              alt="blog"
              class="h-52 w-full rounded-t-3xl object-cover"
            />
            <div class="p-5 text-sm font-bold">
              <h6 class="font-extrabold text-secondary dark:text-secondary">
                UI/UX Design
              </h6>
              <h5
                class="my-[10px] block text-lg font-extrabold leading-[23px] text-black line-clamp-2 dark:text-white"
              >
                Simple & constructive methods to improve your visual/UI design
              </h5>
              <p class="line-clamp-4">
                Contrary to popular belief, Lorem Ipsum is not simply random
                text. It has roots in a piece of classical Latin literature from
                45 BC, making it over 2000 years old.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="relative rounded-3xl border border-transparent bg-white transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark"
          >
            <a
              href="blog-details.html"
              class="absolute top-0 h-full w-full ltr:left-0 rtl:right-0"></a>
            <img
              src="assets/images/blog2.png"
              alt="blog"
              class="h-52 w-full rounded-t-3xl object-cover"
            />
            <div class="p-5 text-sm font-bold">
              <h6 class="font-extrabold text-secondary dark:text-secondary">
                Project Management
              </h6>
              <h5
                class="my-[10px] block text-lg font-extrabold leading-[23px] text-black line-clamp-2 dark:text-white"
              >
                Why is JIRA important for managing projects?
              </h5>
              <p class="line-clamp-4">
                Jira works well for Agile development projects for many reasons,
                including the ability to create Kanban and Scrum boards with
                sprint planning and issue time estimation capabilities.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div
            class="relative rounded-3xl border border-transparent bg-white transition duration-500 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark"
          >
            <a
              href="blog-details.html"
              class="absolute top-0 h-full w-full ltr:left-0 rtl:right-0"></a>
            <img
              src="assets/images/blog3.png"
              alt="blog"
              class="h-52 w-full rounded-t-3xl object-cover"
            />
            <div class="p-5 text-sm font-bold">
              <h6 class="font-extrabold text-secondary dark:text-secondary">
                SEO Marketing
              </h6>
              <h5
                class="my-[10px] block text-lg font-extrabold leading-[23px] text-black line-clamp-2 dark:text-white"
              >
                What is SEO (Search Engine Optimization)?
              </h5>
              <p class="line-clamp-4">
                Search engine optimization is the process of improving the
                quality and quantity of website traffic to a website or a web
                page from search engines.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
