<section class="py-12 lg:py-24">
  <div class="container max-w-[1142px]">
    <div class="flex flex-col gap-5 lg:flex-row">
      <div class="space-y-5 lg:max-w-[650px] xl:max-w-[726px]">
        <div class="item-center flex gap-2.5">
          <div class="h-[30px] w-[5px] bg-secondary"></div>
          <div>
            <p class="text-2xl font-extrabold text-black dark:text-white">
              Random Posts
            </p>
          </div>
        </div>
        <div class="mt-5 flex flex-col gap-6 sm:flex-row">
          <div class="overflow-hidden rounded-[10px]">
            <img src="assets/images/blog/random1.jpg" alt="" />
          </div>
          <div>
            <div class="mb-[14px]">
              <p
                class="inline-block rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white"
              >
                Photographs
              </p>
            </div>
            <a
              href="javascript:"
              class="mt-3 text-xl font-bold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >How 7 things will change the way you approach photographs</a
            >
            <div class="mt-3 flex items-center gap-2.5">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83333V8.49999L9.66667 10.1667"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">10 Jan 2023</p>
            </div>
            <p class="mt-3 text-sm font-medium">
              Tincidunt dolor neque, risus aliquet ac cursus sodales placerat.
              Elit, nisl convallis diam imperdiet feugiat. Sagittis, neque
              commodo.
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-6 sm:flex-row">
          <div class="overflow-hidden rounded-[10px]">
            <img src="assets/images/blog/random2.jpg" alt="" />
          </div>
          <div>
            <div class="mb-[14px]">
              <p
                class="inline-block rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white"
              >
                DESIGN
              </p>
            </div>
            <a
              href="javascript:"
              class="mt-3 text-xl font-bold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >Online professional animation courses for beginners</a
            >
            <div class="mt-3 flex items-center gap-2.5">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83333V8.49999L9.66667 10.1667"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">12 Jan 2023</p>
            </div>
            <p class="mt-3 text-sm font-medium">
              Turpis pulvinar quam nec porta faucibus blandit nulla diam ut.
              Nisi, amet sit vitae mattis. Dictum enim dictum quam pretium
              pretium.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="item-center flex gap-2.5">
          <div class="h-[30px] w-[5px] bg-primary"></div>
          <div>
            <p class="text-2xl font-extrabold text-black dark:text-white">
              Latest Videos
            </p>
          </div>
        </div>
        <div class="mt-5 mb-5 flex gap-3">
          <div class="relative max-w-[165px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/videos1.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <a
              href="javascript:"
              class="absolute bottom-2.5 flex h-6 w-6 items-center justify-center bg-secondary text-white ltr:left-2.5 rtl:right-2.5"
            >
              <svg
                class="h-3 w-3"
                viewBox="0 0 666 731"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M665.83 365.429C666.127 387.492 660.46 409.227 649.428 428.336C638.392 447.445 622.402 463.221 603.147 473.997L188.054 713.651C169.095 724.942 147.439 730.901 125.371 730.901C103.308 730.901 81.6524 724.943 62.6937 713.651C43.4337 702.875 27.4484 687.099 16.4124 667.989C5.38116 648.88 -0.284969 627.145 0.0110307 605.083V125.776C-0.280636 103.719 5.3913 81.9947 16.423 62.8907C27.4542 43.792 43.4444 28.0213 62.6937 17.2507C81.6524 5.95893 103.308 0 125.371 0C147.439 0 169.095 5.9584 188.054 17.2507L603.147 256.864C622.402 267.64 638.392 283.416 649.428 302.525C660.46 321.635 666.126 343.369 665.83 365.432V365.429Z"
                  fill="currentcolor"></path>
              </svg>
            </a>
          </div>
          <div>
            <div class="mb-3">
              <p
                class="inline-block rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white"
              >
                LIFE STYLE
              </p>
            </div>
            <a
              href="javascript:"
              class="text-base font-bold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >Julie Chair A Modern Durable Plastic ALMA Design Chair</a
            >
          </div>
        </div>
        <div class="border-b border-dashed border-gray/50"></div>
        <div class="mt-5 mb-5 flex gap-3">
          <div class="relative max-w-[165px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/videos2.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <a
              href="javascript:"
              class="absolute bottom-2.5 flex h-6 w-6 items-center justify-center bg-secondary text-white ltr:left-2.5 rtl:right-2.5"
            >
              <svg
                class="h-3 w-3"
                viewBox="0 0 666 731"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M665.83 365.429C666.127 387.492 660.46 409.227 649.428 428.336C638.392 447.445 622.402 463.221 603.147 473.997L188.054 713.651C169.095 724.942 147.439 730.901 125.371 730.901C103.308 730.901 81.6524 724.943 62.6937 713.651C43.4337 702.875 27.4484 687.099 16.4124 667.989C5.38116 648.88 -0.284969 627.145 0.0110307 605.083V125.776C-0.280636 103.719 5.3913 81.9947 16.423 62.8907C27.4542 43.792 43.4444 28.0213 62.6937 17.2507C81.6524 5.95893 103.308 0 125.371 0C147.439 0 169.095 5.9584 188.054 17.2507L603.147 256.864C622.402 267.64 638.392 283.416 649.428 302.525C660.46 321.635 666.126 343.369 665.83 365.432V365.429Z"
                  fill="currentcolor"></path>
              </svg>
            </a>
          </div>
          <div>
            <div class="mb-3">
              <p
                class="inline-block rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white"
              >
                CARS
              </p>
            </div>
            <a
              href="javascript:"
              class="mt-3 text-base font-bold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >An Exciting Car Representing Aston Martin's Future</a
            >
          </div>
        </div>
        <div class="border-b border-dashed border-gray/50"></div>
        <div class="mt-5 flex gap-3">
          <div class="relative max-w-[165px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/videos3.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <a
              href="javascript:"
              class="absolute bottom-2.5 flex h-6 w-6 items-center justify-center bg-secondary text-white ltr:left-2.5 rtl:right-2.5"
            >
              <svg
                class="h-3 w-3"
                viewBox="0 0 666 731"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M665.83 365.429C666.127 387.492 660.46 409.227 649.428 428.336C638.392 447.445 622.402 463.221 603.147 473.997L188.054 713.651C169.095 724.942 147.439 730.901 125.371 730.901C103.308 730.901 81.6524 724.943 62.6937 713.651C43.4337 702.875 27.4484 687.099 16.4124 667.989C5.38116 648.88 -0.284969 627.145 0.0110307 605.083V125.776C-0.280636 103.719 5.3913 81.9947 16.423 62.8907C27.4542 43.792 43.4444 28.0213 62.6937 17.2507C81.6524 5.95893 103.308 0 125.371 0C147.439 0 169.095 5.9584 188.054 17.2507L603.147 256.864C622.402 267.64 638.392 283.416 649.428 302.525C660.46 321.635 666.126 343.369 665.83 365.432V365.429Z"
                  fill="currentcolor"></path>
              </svg>
            </a>
          </div>
          <div>
            <div class="mb-3">
              <p
                class="inline-block rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white"
              >
                LIFE STYLE
              </p>
            </div>
            <a
              href="javascript:"
              class="text-base font-bold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >Ultra by Ultra Is A Ultimate Minimalist Wallet Solution.</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
