<section class="mb-12 dark:bg-none sm:p-5 lg:mb-24">
  <div
    class="mx-auto max-w-[1440px] bg-[#08111F] py-12 dark:bg-gray-dark sm:rounded-[32px] lg:py-24"
  >
    <div class="container max-w-[1142px]">
      <div
        class="flex flex-col gap-6 lg:flex-row"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="flex-1">
          <div class="mb-5 flex gap-3">
            <div class="h-[30px] w-[5px] bg-secondary"></div>
            <h5 class="text-2xl font-extrabold text-white">Most Recent</h5>
          </div>
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="relative overflow-hidden rounded-[10px]">
              <div class="h-[150px]">
                <img
                  src="assets/images/blog/recent1.jpg"
                  class="h-full w-full object-cover"
                  alt=""
                />
              </div>
              <div class="bg-white p-3">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-black duration-200 line-clamp-2 hover:text-secondary dark:hover:text-secondary"
                  >Still Standing Tall</a
                >
                <p class="mt-2 mb-3 text-sm font-medium line-clamp-2">
                  Life begins at the end of your at comfort zone.
                </p>
                <div class="border-b border-[#EFEFEF]"></div>
                <div class="mt-2 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william1.png" alt="" />
                    <p class="c">William Wong</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83333V8.49999L9.66667 10.1667"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold">17 Jan 2023</p>
                  </div>
                </div>
                <p
                  class="absolute top-5 rounded bg-secondary px-2.5 py-1 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
                >
                  NATURA
                </p>
              </div>
            </div>
            <div class="relative overflow-hidden rounded-[10px]">
              <div class="h-[150px]">
                <img
                  src="assets/images/blog/recent2.jpg"
                  class="h-full w-full object-cover"
                  alt=""
                />
              </div>
              <div class="bg-white p-3">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-black duration-200 line-clamp-2 hover:text-secondary dark:hover:text-secondary"
                  >Sunny Side Up</a
                >
                <p class="mt-2 mb-3 text-sm font-medium line-clamp-2">
                  No place is ever as bad as they tell you it’s going to be.
                </p>
                <div class="border-b border-[#EFEFEF]"></div>
                <div class="mt-2 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william2.png" alt="" />
                    <p class="c">Mat Vogels</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83333V8.49999L9.66667 10.1667"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold">08 Jan 2023</p>
                  </div>
                </div>
                <p
                  class="absolute top-5 rounded bg-primary px-2.5 py-1 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
                >
                  PHOTOGRAPHY
                </p>
              </div>
            </div>
            <div class="relative overflow-hidden rounded-[10px]">
              <div class="h-[150px]">
                <img
                  src="assets/images/blog/recent3.jpg"
                  class="h-full w-full object-cover"
                  alt=""
                />
              </div>
              <div class="bg-white p-3">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-black duration-200 line-clamp-2 hover:text-secondary dark:hover:text-secondary"
                  >Through the Mist</a
                >
                <p class="mt-2 mb-3 text-sm font-medium line-clamp-2">
                  Travel makes you see what a tiny place you occupy in the
                  world.
                </p>
                <div class="border-b border-[#EFEFEF]"></div>
                <div class="mt-2 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william1.png" alt="" />
                    <p class="c">William Wong</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83333V8.49999L9.66667 10.1667"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold">13 Mar 2023</p>
                  </div>
                </div>
                <p
                  class="absolute top-5 rounded bg-secondary px-2.5 py-1 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
                >
                  VACATION
                </p>
              </div>
            </div>
            <div class="relative overflow-hidden rounded-[10px]">
              <div class="h-[150px]">
                <img
                  src="assets/images/blog/recent4.jpg"
                  class="h-full w-full object-cover"
                  alt=""
                />
              </div>
              <div class="bg-white p-3">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-black duration-200 line-clamp-2 hover:text-secondary dark:hover:text-secondary"
                  >Awaken Early</a
                >
                <p class="mt-2 mb-3 text-sm font-medium line-clamp-2">
                  The European languages are members of the same family.
                  Their...
                </p>
                <div class="border-b border-[#EFEFEF]"></div>
                <div class="mt-2 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william2.png" alt="" />
                    <p class="c">Mat Vogels</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83333V8.49999L9.66667 10.1667"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                          stroke="#969AA9"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold">11 Feb 2023</p>
                  </div>
                </div>
                <p
                  class="absolute top-5 rounded bg-primary px-2.5 py-1 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
                >
                  VACATION
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-none lg:w-[470px]">
          <div class="mb-5 flex gap-3">
            <div class="h-[30px] w-[5px] bg-primary"></div>
            <h5 class="text-2xl font-extrabold text-white">Featured Posts</h5>
          </div>
          <div class="space-y-6">
            <div
              class="relative h-[306px] w-full overflow-hidden rounded-[10px]"
            >
              <div
                class="absolute inset-0 bg-gradient-to-b from-[#000]/5 via-[#000]/60 to-[#000]/75"
              >
              </div>
              <img
                src="assets/images/blog/featured1.jpg"
                class="h-full w-full object-cover"
                alt=""
              />
              <div class="absolute bottom-5 left-5 right-5">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-white hover:text-secondary dark:hover:text-secondary"
                  >The Road Ahead</a
                >
                <p class="mt-2 text-sm font-medium text-white">
                  The road ahead might be paved - it might not be.
                </p>
                <div class="mt-3 border-b border-white/40"></div>
                <div class="mt-3 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william2.png" alt="" />
                    <p class="text-sm font-semibold text-white">Mat Vogels</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83337V8.50004L9.66667 10.1667"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72526C5.64725 2.15802 6.78572 1.83337 8.00001 1.83337C11.6819 1.83337 14.6667 4.81814 14.6667 8.50004C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.50004C1.33334 7.28575 1.65799 6.14728 2.22522 5.16671"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-sm font-semibold text-white">05 Sep 2022</p>
                  </div>
                </div>
              </div>
              <p
                class="absolute top-5 rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
              >
                PHOTOGRAPHY
              </p>
            </div>
            <div class="relative h-[306px] overflow-hidden rounded-[10px]">
              <div
                class="absolute inset-0 bg-gradient-to-b from-[#000]/5 via-[#000]/60 to-[#000]/75"
              >
              </div>
              <img
                src="assets/images/blog/featured2.jpg"
                class="h-full w-full object-cover"
                alt=""
              />
              <div class="absolute bottom-5 left-5 right-5">
                <a
                  href="javascript:"
                  class="text-xl font-bold text-white hover:text-secondary dark:hover:text-secondary"
                  >From Top Down</a
                >
                <p class="mt-2 text-sm font-medium text-white">
                  Once a year, go someplace you’ve never been before.
                </p>
                <div class="mt-3 border-b border-white/40"></div>
                <div class="mt-3 flex justify-between">
                  <div class="flex items-center gap-2.5">
                    <img src="assets/images/blog/william1.png" alt="" />
                    <p class="text-sm font-semibold text-white">William Wong</p>
                  </div>
                  <div class="flex items-center gap-2.5">
                    <span>
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83337V8.50004L9.66667 10.1667"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72526C5.64725 2.15802 6.78572 1.83337 8.00001 1.83337C11.6819 1.83337 14.6667 4.81814 14.6667 8.50004C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.50004C1.33334 7.28575 1.65799 6.14728 2.22522 5.16671"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-sm font-semibold text-white">07 Sep 2022</p>
                  </div>
                </div>
              </div>
              <p
                class="absolute top-5 rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold leading-4 text-white ltr:left-5 rtl:right-5"
              >
                ADVENTURE
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
