<section class="py-12 lg:py-24">
  <div class="container max-w-[1142px]">
    <div class="flex items-center gap-3">
      <div class="h-[30px] w-[5px] bg-secondary"></div>
      <h5 class="text-2xl font-extrabold text-black dark:text-white">
        Trending
      </h5>
    </div>
    <div
      class="mt-5 grid grid-cols-1 gap-5 lg:grid-cols-2"
      data-aos="flip-left"
      data-aos-duration="1000"
    >
      <div
        class="group relative h-[300px] flex-1 overflow-hidden rounded-[10px] sm:h-auto"
      >
        <div
          class="absolute inset-0 z-[1] bg-gradient-to-b from-transparent to-black"
        >
        </div>
        <img
          src="assets/images/blog/trending1.jpg"
          class="h-full w-full rotate-0 object-cover duration-200 group-hover:rotate-2 group-hover:scale-110"
          alt=""
        />
        <h5
          class="absolute top-5 rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold text-white ltr:left-5 rtl:right-5"
        >
          TECH
        </h5>
        <div class="absolute bottom-4 left-5 right-5 z-[1] text-white">
          <a
            href="javascript:"
            class="text-xl font-black duration-200 hover:text-secondary dark:hover:text-secondary sm:text-[32px] sm:leading-10"
            >Apple Watch: What does the future hold?
          </a>
          <p class="my-3 text-sm font-semibold">
            Days fish waters gathered given made third under blessed, is face.
            Is won’t lights it man can’t...
          </p>
          <div class="border-b border-white/40"></div>
          <div class="mt-[14px] flex gap-4">
            <div class="flex items-center gap-3">
              <img src="assets/images/blog/shaun.png" class="w-9" alt="" />
              <p class="text-[13px] font-semibold">Shaun Park</p>
            </div>
            <div class="flex items-center gap-2">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83325V8.49992L9.66667 10.1666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72513C5.64725 2.1579 6.78572 1.83325 8.00001 1.83325C11.6819 1.83325 14.6667 4.81802 14.6667 8.49992C14.6667 12.1818 11.6819 15.1666 8.00001 15.1666C4.31811 15.1666 1.33334 12.1818 1.33334 8.49992C1.33334 7.28563 1.65799 6.14716 2.22522 5.16658"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">20 May 2022</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
        <div
          class="group relative h-[263px] w-full overflow-hidden rounded-[10px] lg:max-w-[263px]"
        >
          <div
            class="absolute inset-0 z-[1] bg-gradient-to-b from-transparent to-black"
          >
          </div>
          <img
            src="assets/images/blog/trending2.jpg"
            class="h-full w-full rotate-0 object-cover duration-200 group-hover:rotate-2 group-hover:scale-110"
            alt=""
          />
          <h5
            class="absolute top-5 rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold text-white ltr:right-5 rtl:left-5"
          >
            STYLE
          </h5>
          <div class="absolute bottom-4 left-5 right-5 z-[1] text-white">
            <a
              href="javascript:"
              class="text-[19px] font-bold duration-200 hover:text-secondary dark:hover:text-secondary"
              >The Top Trends For Summer Wedding Dressing</a
            >
            <div class="mt-[14px] flex items-center gap-2">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83325V8.49992L9.66667 10.1666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72513C5.64725 2.1579 6.78572 1.83325 8.00001 1.83325C11.6819 1.83325 14.6667 4.81802 14.6667 8.49992C14.6667 12.1818 11.6819 15.1666 8.00001 15.1666C4.31811 15.1666 1.33334 12.1818 1.33334 8.49992C1.33334 7.28563 1.65799 6.14716 2.22522 5.16658"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">20 May 2022</p>
            </div>
          </div>
        </div>
        <div
          class="group relative h-[263px] w-full overflow-hidden rounded-[10px] lg:max-w-[263px]"
        >
          <div
            class="absolute inset-0 z-[1] bg-gradient-to-b from-transparent to-black"
          >
          </div>
          <img
            src="assets/images/blog/trending4.jpg"
            class="h-full w-full rotate-0 object-cover duration-200 group-hover:rotate-2 group-hover:scale-110"
            alt=""
          />
          <h5
            class="absolute top-5 rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold text-white ltr:right-5 rtl:left-5"
          >
            STYLE
          </h5>
          <div class="absolute bottom-4 left-5 right-5 z-[1] text-white">
            <a
              href="javascript:"
              class="text-[19px] font-bold duration-200 hover:text-secondary dark:hover:text-secondary"
              >UBC researchers use drones to track jellyfish blooms</a
            >
            <div class="mt-[14px] flex items-center gap-2">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83325V8.49992L9.66667 10.1666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72513C5.64725 2.1579 6.78572 1.83325 8.00001 1.83325C11.6819 1.83325 14.6667 4.81802 14.6667 8.49992C14.6667 12.1818 11.6819 15.1666 8.00001 15.1666C4.31811 15.1666 1.33334 12.1818 1.33334 8.49992C1.33334 7.28563 1.65799 6.14716 2.22522 5.16658"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">17 May 2022</p>
            </div>
          </div>
        </div>
        <div
          class="group relative h-[263px] w-full overflow-hidden rounded-[10px] lg:max-w-[263px]"
        >
          <div
            class="absolute inset-0 z-[1] bg-gradient-to-b from-transparent to-black"
          >
          </div>
          <img
            src="assets/images/blog/trending3.jpg"
            class="h-full w-full rotate-0 object-cover duration-200 group-hover:rotate-2 group-hover:scale-110"
            alt=""
          />
          <h5
            class="absolute top-5 rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold text-white ltr:right-5 rtl:left-5"
          >
            GUIDE
          </h5>
          <div class="absolute bottom-4 left-5 right-5 z-[1] text-white">
            <a
              href="javascript:"
              class="text-[19px] font-bold duration-200 hover:text-secondary dark:hover:text-secondary"
              >Guide to Throwing the Perfect Summer Pool Party</a
            >
            <div class="mt-[14px] flex items-center gap-2">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83325V8.49992L9.66667 10.1666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72513C5.64725 2.1579 6.78572 1.83325 8.00001 1.83325C11.6819 1.83325 14.6667 4.81802 14.6667 8.49992C14.6667 12.1818 11.6819 15.1666 8.00001 15.1666C4.31811 15.1666 1.33334 12.1818 1.33334 8.49992C1.33334 7.28563 1.65799 6.14716 2.22522 5.16658"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">12 Dec 2022</p>
            </div>
          </div>
        </div>
        <div
          class="group relative h-[263px] w-full overflow-hidden rounded-[10px] lg:max-w-[263px]"
        >
          <div
            class="absolute inset-0 z-[1] bg-gradient-to-b from-transparent to-black"
          >
          </div>
          <img
            src="assets/images/blog/trending5.jpg"
            class="h-full w-full rotate-0 object-cover duration-200 group-hover:rotate-2 group-hover:scale-110"
            alt=""
          />
          <h5
            class="absolute top-5 rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold text-white ltr:right-5 rtl:left-5"
          >
            LIFE
          </h5>
          <div class="absolute bottom-4 left-5 right-5 z-[1] text-white">
            <a
              href="javascript:"
              class="text-[19px] font-bold duration-200 hover:text-secondary dark:hover:text-secondary"
              >Park’s Shinoda says ‘no way’ to a hologram Chester Bennington</a
            >
            <div class="mt-[14px] flex items-center gap-2">
              <span>
                <svg
                  width="16"
                  height="17"
                  viewBox="0 0 16 17"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8 5.83325V8.49992L9.66667 10.1666"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M4.66668 2.72513C5.64725 2.1579 6.78572 1.83325 8.00001 1.83325C11.6819 1.83325 14.6667 4.81802 14.6667 8.49992C14.6667 12.1818 11.6819 15.1666 8.00001 15.1666C4.31811 15.1666 1.33334 12.1818 1.33334 8.49992C1.33334 7.28563 1.65799 6.14716 2.22522 5.16658"
                    stroke="#969AA9"
                    stroke-width="1.5"
                    stroke-linecap="round"></path>
                </svg>
              </span>
              <p class="text-[13px] font-semibold">28 jan 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
