<section class="bg-white py-6 dark:bg-[#1C2331]">
  <div class="container max-w-[1142px]">
    <div
      class="grid grid-cols-2 justify-center gap-7 text-center md:grid-cols-4"
    >
      <div>
        <span>
          <svg
            class="mx-auto h-12 w-12"
            viewBox="0 0 51 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M46.3333 25C46.3333 25 44.2647 26.8557 40.1274 28.5106L34.2765 30.851C30.1392 32.5059 28.0706 33.3333 25.5 33.3333C22.9294 33.3333 20.8608 32.5059 16.7235 30.851L10.8726 28.5106C6.73529 26.8557 4.66666 25 4.66666 25"
              stroke="#B476E5"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M4.66666 33.3334C4.66666 33.3334 6.73529 35.1891 10.8726 36.844L16.7235 39.1843C20.8608 40.8393 22.9294 41.6667 25.5 41.6667C27.4874 41.6667 29.1747 41.1721 31.75 40.1829M40.1274 36.844C44.2647 35.1891 46.3333 33.3334 46.3333 33.3334"
              stroke="#47BDFF"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M10.8726 13.1561C6.73529 14.811 4.66666 15.6385 4.66666 16.6667C4.66666 17.6949 6.73529 18.5224 10.8726 20.1773L16.7235 22.5177C20.8608 24.1726 22.9294 25 25.5 25C28.0706 25 30.1392 24.1726 34.2765 22.5177L40.1274 20.1773C44.2647 18.5224 46.3333 17.6949 46.3333 16.6667C46.3333 15.6385 44.2647 14.811 40.1274 13.1561L34.2765 10.8157C30.1392 9.16083 28.0706 8.33337 25.5 8.33337C23.5126 8.33337 21.8252 8.82797 19.25 9.81715"
              stroke="#47BDFF"
              stroke-width="3"
              stroke-linecap="round"></path>
          </svg>
        </span>
        <h2
          class="mt-5 text-[34px] font-black leading-10 text-black dark:text-white"
          data-vanilla-counter
          data-start-at="0"
          data-end-at="60"
          data-time="4000"
          data-delay="1000"
          data-format="{}+"
        >
          60+
        </h2>
        <p class="mt-2.5 text-base font-bold">Unique content blocks</p>
      </div>
      <div>
        <span>
          <svg
            class="mx-auto h-12 w-12"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.25 20.8333V33.3333C6.25 36.7851 9.04822 39.5833 12.5 39.5833M37.5 10.4166C37.5 6.96485 34.7018 4.16663 31.25 4.16663H22.9167C15.0599 4.16663 11.1316 4.16663 8.69078 6.6074C7.32998 7.9682 6.72786 9.79139 6.46144 12.5"
              stroke="#47BDFF"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M43.7464 20.8333C43.7212 16.302 43.5202 13.848 41.9194 12.2472C40.0888 10.4166 37.1426 10.4166 31.25 10.4166H25C19.1074 10.4166 16.1612 10.4166 14.3306 12.2472C12.5 14.0778 12.5 17.0241 12.5 22.9166V33.3333C12.5 39.2259 12.5 42.1721 14.3306 44.0027C16.1612 45.8333 19.1074 45.8333 25 45.8333H31.25C37.1426 45.8333 40.0888 45.8333 41.9194 44.0027C43.75 42.1721 43.75 39.2259 43.75 33.3333V31.25"
              stroke="#B476E5"
              stroke-width="3"
              stroke-linecap="round"></path>
          </svg>
        </span>
        <h2
          class="mt-5 text-[34px] font-black leading-10 text-black dark:text-white"
          data-vanilla-counter
          data-start-at="0"
          data-end-at="20"
          data-time="4000"
          data-delay="1000"
          data-format="{}+"
        >
          20+
        </h2>
        <p class="mt-2.5 text-base font-bold">Positive feedback</p>
      </div>
      <div>
        <span>
          <svg
            class="mx-auto h-12 w-12"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M43.75 35.4167V25C43.75 21.1664 42.5995 17.6016 40.625 14.6319M6.25 35.4167V25C6.25 14.6447 14.6447 6.25 25 6.25C27.9934 6.25 30.823 6.95147 33.3333 8.199"
              stroke="#47BDFF"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M45.8333 32.2916V36.4583"
              stroke="#B476E5"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M4.16667 32.2916V36.4583"
              stroke="#B476E5"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M16.6667 28.843C16.6667 27.2505 16.6667 26.4542 16.3026 25.9005C16.1194 25.6219 15.8763 25.3917 15.5925 25.2281C15.0286 24.9032 14.2669 24.9783 12.7436 25.1285C10.1768 25.3816 8.89341 25.5081 7.97369 26.2009C7.50821 26.5516 7.11745 26.9986 6.82596 27.514C6.25 28.5323 6.25 29.874 6.25 32.5575V35.8193C6.25 38.4761 6.25 39.8044 6.83745 40.8303C7.05733 41.2143 7.33294 41.5606 7.6545 41.857C8.51359 42.6487 9.76758 42.8959 12.2756 43.3905C14.0405 43.7386 14.923 43.9126 15.5742 43.5461C15.8146 43.4108 16.027 43.2277 16.1994 43.0071C16.6667 42.4093 16.6667 41.4745 16.6667 39.6049V28.843Z"
              stroke="#B476E5"
              stroke-width="3"></path>
            <path
              d="M33.3333 28.843C33.3333 27.2505 33.3333 26.4542 33.6974 25.9005C33.8806 25.6219 34.1237 25.3917 34.4075 25.2281C34.9714 24.9032 35.7331 24.9783 37.2564 25.1285C39.8232 25.3816 41.1066 25.5081 42.0263 26.2009C42.4918 26.5516 42.8825 26.9986 43.174 27.514C43.75 28.5323 43.75 29.874 43.75 32.5575V35.8193C43.75 38.4761 43.75 39.8044 43.1625 40.8303C42.9427 41.2143 42.6671 41.5606 42.3455 41.857C41.4864 42.6487 40.2324 42.8959 37.7244 43.3905C35.9595 43.7386 35.077 43.9126 34.4257 43.5461C34.1854 43.4108 33.973 43.2277 33.8006 43.0071C33.3333 42.4093 33.3333 41.4745 33.3333 39.6049V28.843Z"
              stroke="#B476E5"
              stroke-width="3"></path>
          </svg>
        </span>
        <h2
          class="mt-5 text-[34px] font-black leading-10 text-black dark:text-white"
          data-vanilla-counter
          data-start-at="0"
          data-end-at="24"
          data-time="4000"
          data-delay="1000"
          data-format="{} hours"
        >
          24 hours
        </h2>
        <p class="mt-2.5 text-base font-bold">Average support time</p>
      </div>
      <div>
        <span>
          <svg
            class="mx-auto h-12 w-12"
            viewBox="0 0 50 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.4157 16.025C7.29137 17.1845 4.7292 17.7642 4.11963 19.7244C3.51005 21.6846 5.25677 23.7272 8.7502 27.8123L9.654 28.8692C10.6467 30.03 11.1431 30.6105 11.3664 31.3285C11.5897 32.0466 11.5146 32.821 11.3645 34.3699L11.2279 35.78C10.6997 41.2304 10.4357 43.9556 12.0316 45.1671C13.6274 46.3786 16.0264 45.274 20.8243 43.0649L22.0656 42.4934C23.429 41.8656 24.1107 41.5517 24.8333 41.5517C25.5559 41.5517 26.2377 41.8656 27.6011 42.4934L28.8423 43.0649C33.6403 45.274 36.0392 46.3786 37.6351 45.1671C39.231 43.9556 38.9669 41.2304 38.4388 35.78"
              stroke="#B476E5"
              stroke-width="3"
              stroke-linecap="round"></path>
            <path
              d="M40.9165 27.8123C44.4099 23.7272 46.1566 21.6847 45.5471 19.7244C44.9375 17.7642 42.3753 17.1845 37.251 16.0251L35.9252 15.7251C34.4691 15.3956 33.741 15.2309 33.1564 14.7871C32.5718 14.3433 32.1968 13.6707 31.447 12.3255L30.7643 11.1008C28.1254 6.36693 26.806 4 24.8333 4C22.8607 4 21.5413 6.36693 18.9024 11.1008"
              stroke="#47BDFF"
              stroke-width="3"
              stroke-linecap="round"></path>
          </svg>
        </span>
        <h2
          class="mt-5 text-[34px] font-black leading-10 text-black dark:text-white"
          data-vanilla-counter
          data-start-at="0"
          data-end-at="99"
          data-time="4000"
          data-delay="1000"
          data-format="{}%"
        >
          99%
        </h2>
        <p class="mt-2.5 text-base font-bold">Visitor return rate</p>
      </div>
    </div>
  </div>
</section>
