<section
  class="bg-gradient-to-b from-white/60 to-transparent py-12 dark:bg-none lg:py-24"
>
  <div class="container max-w-[1142px]">
    <div class="mb-9 flex justify-between">
      <div class="flex items-center gap-3">
        <div class="h-[30px] w-[5px] bg-secondary"></div>
        <h5 class="text-2xl font-extrabold text-black dark:text-white">
          Celebration
        </h5>
      </div>
      <div class="flex gap-[14px]">
        <span
          class="feedback-slider-button-prev flex h-[30px] w-[30px] items-center justify-center rounded-full bg-black/[0.04] text-[#08111F] duration-200 hover:bg-black hover:text-white rtl:rotate-y-180 dark:bg-white/[0.04] dark:text-white dark:hover:bg-secondary dark:hover:text-white"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.95007 1.20007L1.48924 5.34228C1.06317 5.73791 1.06317 6.41223 1.48924 6.80787L5.95007 10.9501"
              stroke="currentcolor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </span>
        <span
          class="feedback-slider-button-next flex h-[30px] w-[30px] items-center justify-center rounded-full bg-black/[0.04] text-[#08111F] duration-200 hover:bg-black hover:text-white rtl:rotate-y-180 dark:bg-white/[0.04] dark:text-white dark:hover:bg-secondary dark:hover:text-white"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.05011 10.7999L5.51095 6.65772C5.93701 6.26209 5.93701 5.58777 5.51095 5.19213L1.05011 1.04993"
              stroke="currentcolor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </span>
      </div>
    </div>
    <div class="swiper feedback-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="relative h-[346px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/celebration1.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <p
              class="absolute top-5 rounded bg-secondary py-1 px-2.5 text-[12px] text-white ltr:left-5 rtl:right-5"
            >
              LIFESTYLE
            </p>
          </div>
          <div>
            <div class="mt-[14px] mb-3 flex gap-4">
              <div class="flex items-center gap-3">
                <img src="assets/images/blog/shaun.png" class="w-9" alt="" />
                <p class="text-[13px] font-semibold">Shaun Park</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="">
                  <svg
                    width="16"
                    height="17"
                    viewBox="0 0 16 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 5.83333V8.49999L9.66667 10.1667"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"></path>
                  </svg>
                </span>
                <p class="text-[13px] font-semibold">20 May 2022</p>
              </div>
            </div>
            <a
              href="javascript:"
              class="text-lg font-extrabold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >Secrets Your Parents Never Told You About Bulb</a
            >
          </div>
        </div>
        <div class="swiper-slide">
          <div class="relative h-[346px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/celebration2.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <p
              class="absolute top-5 rounded bg-primary py-1 px-2.5 text-[12px] text-white ltr:left-5 rtl:right-5"
            >
              TRAVEL
            </p>
          </div>
          <div>
            <div class="mb-3 mt-[14px] flex gap-4">
              <div class="flex items-center gap-3">
                <img src="assets/images/blog/shaun.png" class="w-9" alt="" />
                <p class="text-[13px] font-semibold">Shaun Park</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="">
                  <svg
                    width="16"
                    height="17"
                    viewBox="0 0 16 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 5.83333V8.49999L9.66667 10.1667"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"></path>
                  </svg>
                </span>
                <p class="text-[13px] font-semibold">20 May 2022</p>
              </div>
            </div>
            <a
              href="javascript:"
              class="text-lg font-extrabold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >SuperShe Island: Women-only luxury retreat opening in Finland</a
            >
          </div>
        </div>
        <div class="swiper-slide">
          <div class="relative h-[346px] overflow-hidden rounded-[10px]">
            <img
              src="assets/images/blog/celebration3.jpg"
              class="h-full w-full object-cover"
              alt=""
            />
            <p
              class="absolute top-5 rounded bg-primary py-1 px-2.5 text-[12px] text-white ltr:left-5 rtl:right-5"
            >
              TRAVEL
            </p>
          </div>
          <div>
            <div class="mb-3 mt-[14px] flex gap-4">
              <div class="flex items-center gap-3">
                <img src="assets/images/blog/shaun.png" class="w-9" alt="" />
                <p class="text-[13px] font-semibold">Shaun Park</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="text-white">
                  <svg
                    width="16"
                    height="17"
                    viewBox="0 0 16 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 5.83333V8.49999L9.66667 10.1667"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M4.66668 2.72521C5.64725 2.15798 6.78572 1.83333 8.00001 1.83333C11.6819 1.83333 14.6667 4.8181 14.6667 8.49999C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.49999C1.33334 7.2857 1.65799 6.14724 2.22522 5.16666"
                      stroke="#969AA9"
                      stroke-width="1.5"
                      stroke-linecap="round"></path>
                  </svg>
                </span>
                <p class="text-[13px] font-semibold">20 May 2022</p>
              </div>
            </div>
            <a
              href="javascript:"
              class="text-lg font-extrabold text-black duration-200 hover:text-secondary dark:text-white dark:hover:text-secondary"
              >Overtourism and the big chill: travel trends in 2018</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
