<section
  class="bg-gradient-to-b from-white/60 to-transparent py-12 dark:bg-gradient-to-b dark:from-white/10 dark:to-transparent lg:py-24"
>
  <div class="container max-w-[1142px]">
    <div class="mb-5 flex justify-between">
      <div class="flex items-center gap-3">
        <div class="h-[30px] w-[5px] bg-primary"></div>
        <h5 class="text-2xl font-extrabold text-black dark:text-white">
          More Stories
        </h5>
      </div>
      <div class="flex gap-[14px]">
        <span
          class="Stories-slider-button-prev flex h-[30px] w-[30px] items-center justify-center rounded-full bg-black/[0.04] text-[#08111F] duration-200 hover:bg-black hover:text-white rtl:rotate-y-180 dark:bg-white/[0.04] dark:text-white dark:hover:bg-secondary dark:hover:text-white"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.95007 1.20007L1.48924 5.34228C1.06317 5.73791 1.06317 6.41223 1.48924 6.80787L5.95007 10.9501"
              stroke="currentcolor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </span>
        <span
          class="Stories-slider-button-next flex h-[30px] w-[30px] items-center justify-center rounded-full bg-black/[0.04] text-[#08111F] duration-200 hover:bg-black hover:text-white rtl:rotate-y-180 dark:bg-white/[0.04] dark:text-white dark:hover:bg-secondary dark:hover:text-white"
        >
          <svg
            width="7"
            height="12"
            viewBox="0 0 7 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.05011 10.7999L5.51095 6.65772C5.93701 6.26209 5.93701 5.58777 5.51095 5.19213L1.05011 1.04993"
              stroke="currentcolor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </span>
      </div>
    </div>

    <div
      class="rounded-[10px] border border-[#BBBBBB]/50 p-3 dark:border-[#7780A1]/20 sm:p-5"
    >
      <div class="swiper Stories-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="relative h-[346px] overflow-hidden rounded-[10px]">
              <div class="absolute inset-0 bg-black/30"></div>
              <img
                src="assets/images/blog/stories1.jpg"
                class="h-full w-full object-cover"
                alt=""
              />
              <div class="absolute bottom-5 ltr:left-5 rtl:right-5">
                <p
                  class="inline-block rounded bg-primary py-1 px-2.5 text-[12px] font-extrabold text-white"
                >
                  FASHION
                </p>
                <h5 class="mt-3 text-xl font-extrabold text-white">
                  16 Unheard Ways To Achieve Greater Walker
                </h5>
                <div class="mt-[14px] flex gap-4">
                  <div class="flex items-center gap-3">
                    <img
                      src="assets/images/blog/shaun.png"
                      class="w-9"
                      alt=""
                    />
                    <p class="text-[13px] font-semibold text-white">
                      Shaun Park
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="text-white">
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83337V8.50004L9.66667 10.1667"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72526C5.64725 2.15802 6.78572 1.83337 8.00001 1.83337C11.6819 1.83337 14.6667 4.81814 14.6667 8.50004C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.50004C1.33334 7.28575 1.65799 6.14728 2.22522 5.16671"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold text-white">
                      20 May 2022
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="relative h-[346px] overflow-hidden rounded-[10px]">
              <div class="absolute inset-0 bg-black/30"></div>
              <img
                src="assets/images/blog/stories2.jpg"
                class="h-full w-full object-cover"
                alt=""
              />
              <div class="absolute bottom-5 ltr:left-5 rtl:right-5">
                <p
                  class="inline-block rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold text-white"
                >
                  TIPS
                </p>
                <h5 class="mt-3 text-xl font-extrabold text-white">
                  Ten top tips to improve your financial management
                </h5>
                <div class="mt-[14px] flex gap-4">
                  <div class="flex items-center gap-3">
                    <img
                      src="assets/images/blog/shaun.png"
                      class="w-9"
                      alt=""
                    />
                    <p class="text-[13px] font-semibold text-white">
                      Shaun Park
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="text-white">
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83337V8.50004L9.66667 10.1667"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72526C5.64725 2.15802 6.78572 1.83337 8.00001 1.83337C11.6819 1.83337 14.6667 4.81814 14.6667 8.50004C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.50004C1.33334 7.28575 1.65799 6.14728 2.22522 5.16671"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold text-white">
                      20 May 2022
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="relative h-[346px] overflow-hidden rounded-[10px]">
              <div class="absolute inset-0 bg-black/30"></div>
              <img
                src="assets/images/blog/stories3.jpg"
                class="h-full w-full object-cover"
                alt=""
              />
              <div class="absolute bottom-5 ltr:left-5 rtl:right-5">
                <p
                  class="inline-block rounded bg-secondary py-1 px-2.5 text-[12px] font-extrabold text-white"
                >
                  TIPS
                </p>
                <h5 class="mt-3 text-xl font-extrabold text-white">
                  Ten top tips to improve your financial management
                </h5>
                <div class="mt-[14px] flex gap-4">
                  <div class="flex items-center gap-3">
                    <img
                      src="assets/images/blog/shaun.png"
                      class="w-9"
                      alt=""
                    />
                    <p class="text-[13px] font-semibold text-white">
                      Shaun Park
                    </p>
                  </div>
                  <div class="flex items-center gap-2">
                    <span class="text-white">
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M8 5.83337V8.50004L9.66667 10.1667"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"></path>
                        <path
                          d="M4.66668 2.72526C5.64725 2.15802 6.78572 1.83337 8.00001 1.83337C11.6819 1.83337 14.6667 4.81814 14.6667 8.50004C14.6667 12.1819 11.6819 15.1667 8.00001 15.1667C4.31811 15.1667 1.33334 12.1819 1.33334 8.50004C1.33334 7.28575 1.65799 6.14728 2.22522 5.16671"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"></path>
                      </svg>
                    </span>
                    <p class="text-[13px] font-semibold text-white">
                      20 May 2022
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
