<section
  class="bg-[#08111F] bg-[url(assets/images/blog/banner_bg.png)] bg-center bg-no-repeat pb-12 pt-36 text-white sm:pt-[0px] lg:pb-80"
>
  <div class="container max-w-[1142px]">
    <div class="relative">
      <div
        class="text-center lg:max-w-[754px] ltr:lg:text-left rtl:lg:text-right lg:pt-24"
      >
        <h2 class="text-3xl font-black sm:text-5xl md:text-6xl">
          We'll help <span class="text-primary">digitally</span> transform
          <span class="text-secondary">your business.</span>
        </h2>
        <p class="mt-7 text-base font-semibold xl:text-lg">
          lorem ipsum is a placeholder text to demonstrate the visual form of a
          typeface without relying on very meaningful content like this one for
          example.
        </p>
        <div
          class="mt-10 flex items-center justify-center gap-6 lg:justify-start"
        >
          <button
            type="button"
            class="btn bg-white py-[19px] shadow-[10px_15px_30px_rgba(199,128,161,0.2)]"
            >All Postsa</button
          >
          <button
            type="button"
            class="btn py-[19px] px-8 text-white shadow-[10px_15px_30px_rgba(199,128,161,0.2)]"
            >Trending</button
          >
        </div>
      </div>
      <div
        class="top-0 mt-10 w-full max-w-[686px] ltr:right-0 rtl:left-0 lg:absolute"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <img
          src="assets/images/blog/blog_banner.png"
          class="rtl:rotate-y-180"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
