<section class="relative bg-[#1C2331] py-12 dark:bg-[#1C2331] lg:py-24">
  <div
    class="absolute inset-0 bg-[url(assets/images/blog/newsletter.svg)] bg-center bg-repeat opacity-50"
  >
  </div>
  <div class="container max-w-[1142px]">
    <div
      class="relative z-[1] flex flex-col items-center justify-between gap-5 text-center lg:flex-row ltr:lg:text-left rtl:lg:text-right"
    >
      <div>
        <h2
          class="text-3xl font-extrabold text-primary sm:text-[40px] sm:leading-[50px]"
        >
          JOIN OUR NEWSLETTER!
        </h2>
        <p class="mt-2.5 text-xl font-semibold text-white">
          Enter your email to receive our newsletter.
        </p>
        <div class="relative mx-auto mt-10 lg:mx-0">
          <input
            type="email"
            placeholder="example@gmail.com*"
            class="relative w-full border border-white bg-transparent py-[18px] text-base font-semibold !text-white outline-none ltr:pl-4 ltr:pr-36 rtl:pr-4 rtl:pl-36"
          />
          <button
            type="button"
            class="absolute top-1/2 -translate-y-1/2 bg-secondary py-3 px-8 text-sm font-extrabold text-white duration-200 hover:bg-primary ltr:right-2 rtl:left-2"
          >
            SUBMIT
          </button>
        </div>
      </div>
      <div class="max-w-[440px]" data-aos="fade-left" data-aos-duration="1000">
        <img src="assets/images/blog/newsletter.png" alt="" />
      </div>
    </div>
  </div>
</section>
