<section
  class="bg-gradient-to-t from-white/[55%] to-transparent py-14 dark:bg-none lg:py-[100px]"
>
  <div class="container max-w-[1142px]">
    <div class="heading text-center ltr:lg:text-left rtl:lg:text-right">
      <h4 class="sm:!leading-[50px]">Next steps</h4>
    </div>
    <!-- Contact Form -->
    <div class="relative z-10 text-xl">
      <ul>
        <li class="my-3">Please be ready for our call.</li>
        <li class="my-3">
          Make sure you have a good internet connection and a quiet place to
          talk.
        </li>
        <li class="my-3">
          We will not accept calls from the car or public transportation.
        </li>
      </ul>
    </div>
  </div>
</section>
