<!-- FAQ-->
<section class="py-12 lg:py-24">
  <div class="container max-w-[1142px]">
    <div class="heading text-center">
      <h4 class="!font-black uppercase">
        Most Asked <span class="text-secondary">Questions</span>
      </h4>
      <h6 class="mx-auto mt-2 max-w-[520px] !font-medium !text-gray">
        Things people usually ask before they start working with us. If you have
        any other questions, feel free to contact us.
      </h6>
    </div>
    <div class="flex flex-col items-center gap-5 sm:gap-10 lg:flex-row">
      <div class="w-full max-w-[552px] flex-none">
        <img
          src="assets/images/consulting/question-img.png"
          class="rtl:rotate-y-180"
          alt=""
        />
      </div>
      <div class="accordion-container flex-1">
        <div class="ac mt-5 border-none bg-transparent">
          <h2 class="ac-header rounded-t-md">
            <button
              type="button"
              class="ac-trigger relative !flex w-full items-center justify-between gap-2 !bg-gray/30 !px-5 !font-mulish !text-lg !font-bold !text-black after:!hidden ltr:text-left rtl:text-right dark:!text-white sm:!text-xl"
            >
              <div>What does your logo represent?</div>
              <div
                class="trigger-icon grid h-6 w-6 place-content-center rounded-full border-2 border-gray text-black transition dark:text-white"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.09961 0.500977C6.65189 0.500977 7.09961 0.948692 7.09961 1.50098L7.09961 10.501C7.09961 11.0533 6.65189 11.501 6.09961 11.501H5.89961C5.34732 11.501 4.89961 11.0533 4.89961 10.501L4.89961 1.50098C4.89961 0.948692 5.34732 0.500977 5.89961 0.500977H6.09961Z"
                    fill="currentColor"></path>
                  <path
                    d="M0.5 5.90039C0.5 5.34811 0.947715 4.90039 1.5 4.90039H10.5C11.0523 4.90039 11.5 5.34811 11.5 5.90039V6.10039C11.5 6.65268 11.0523 7.10039 10.5 7.10039H1.5C0.947715 7.10039 0.5 6.65268 0.5 6.10039V5.90039Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </h2>
          <div class="ac-panel">
            <p
              class="ac-text bg-white !p-5 !font-mulish !text-sm !font-bold !leading-[18px] !text-gray dark:!bg-white/5"
            >
              Our logo is created by AI under our guidance.
              <br />
              It represent the richness of choices and opportunities available online,
              also represents the chaos that too many choices and technological change
              brings to us.
            </p>
          </div>
        </div>
        <div class="ac mt-5 border-none bg-transparent">
          <h2 class="ac-header rounded-t-md">
            <button
              type="button"
              class="ac-trigger relative !flex w-full items-center justify-between gap-2 !bg-gray/30 !px-5 !font-mulish !text-lg !font-bold !text-black after:!hidden ltr:text-left rtl:text-right dark:!text-white sm:!text-xl"
            >
              <div>Are your service easy to use?</div>
              <div
                class="trigger-icon grid h-6 w-6 place-content-center rounded-full border-2 border-gray text-black transition dark:text-white"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.09961 0.500977C6.65189 0.500977 7.09961 0.948692 7.09961 1.50098L7.09961 10.501C7.09961 11.0533 6.65189 11.501 6.09961 11.501H5.89961C5.34732 11.501 4.89961 11.0533 4.89961 10.501L4.89961 1.50098C4.89961 0.948692 5.34732 0.500977 5.89961 0.500977H6.09961Z"
                    fill="currentColor"></path>
                  <path
                    d="M0.5 5.90039C0.5 5.34811 0.947715 4.90039 1.5 4.90039H10.5C11.0523 4.90039 11.5 5.34811 11.5 5.90039V6.10039C11.5 6.65268 11.0523 7.10039 10.5 7.10039H1.5C0.947715 7.10039 0.5 6.65268 0.5 6.10039V5.90039Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </h2>
          <div class="ac-panel">
            <p
              class="ac-text bg-white !p-5 !font-mulish !text-base !font-medium !text-gray dark:!bg-white/5"
            >
              We did a lot to make it as easy and clear as possible. There are
              number of aspects of our engagement that are meant to help us work
              better together. For example, you are always in control of the
              project, you can see the progress and provide feedback at any time
              as we make our work transparent. We also charge same public price
              for our work to everyone, so you can be sure you are not
              overpaying. Also, we charge in 2 week intervals, so your financial
              exposure is always limited.
              <br />
              We believe this to be the best way to work together, we really want
              to focus on creating value for you, not on negotiating contracts and
              terms.
            </p>
          </div>
        </div>
        <div class="ac mt-5 border-none bg-transparent">
          <h2 class="ac-header rounded-t-md">
            <button
              type="button"
              class="ac-trigger relative !flex w-full items-center justify-between gap-2 !bg-gray/30 !px-5 !font-mulish !text-lg !font-bold !text-black after:!hidden ltr:text-left rtl:text-right dark:!text-white sm:!text-xl"
            >
              <div>Will i receive future updates?</div>
              <div
                class="trigger-icon grid h-6 w-6 place-content-center rounded-full border-2 border-gray text-black transition dark:text-white"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.09961 0.500977C6.65189 0.500977 7.09961 0.948692 7.09961 1.50098L7.09961 10.501C7.09961 11.0533 6.65189 11.501 6.09961 11.501H5.89961C5.34732 11.501 4.89961 11.0533 4.89961 10.501L4.89961 1.50098C4.89961 0.948692 5.34732 0.500977 5.89961 0.500977H6.09961Z"
                    fill="currentColor"></path>
                  <path
                    d="M0.5 5.90039C0.5 5.34811 0.947715 4.90039 1.5 4.90039H10.5C11.0523 4.90039 11.5 5.34811 11.5 5.90039V6.10039C11.5 6.65268 11.0523 7.10039 10.5 7.10039H1.5C0.947715 7.10039 0.5 6.65268 0.5 6.10039V5.90039Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </h2>
          <div class="ac-panel">
            <p
              class="ac-text bg-white !p-5 !font-mulish !text-sm !font-bold !leading-[18px] !text-gray dark:!bg-white/5"
            >
              Definitely we are available and have a dedicated mode of
              engagement for maintenance and support. We can also help you with
              future updates and new features.
            </p>
          </div>
        </div>
        <div class="ac mt-5 border-none bg-transparent">
          <h2 class="ac-header rounded-t-md">
            <button
              type="button"
              class="ac-trigger relative !flex w-full items-center justify-between gap-2 !bg-gray/30 !px-5 !font-mulish !text-lg !font-bold !text-black after:!hidden ltr:text-left rtl:text-right dark:!text-white sm:!text-xl"
            >
              <div>Is this services work in my country?</div>
              <div
                class="trigger-icon grid h-6 w-6 place-content-center rounded-full border-2 border-gray text-black transition dark:text-white"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.09961 0.500977C6.65189 0.500977 7.09961 0.948692 7.09961 1.50098L7.09961 10.501C7.09961 11.0533 6.65189 11.501 6.09961 11.501H5.89961C5.34732 11.501 4.89961 11.0533 4.89961 10.501L4.89961 1.50098C4.89961 0.948692 5.34732 0.500977 5.89961 0.500977H6.09961Z"
                    fill="currentColor"></path>
                  <path
                    d="M0.5 5.90039C0.5 5.34811 0.947715 4.90039 1.5 4.90039H10.5C11.0523 4.90039 11.5 5.34811 11.5 5.90039V6.10039C11.5 6.65268 11.0523 7.10039 10.5 7.10039H1.5C0.947715 7.10039 0.5 6.65268 0.5 6.10039V5.90039Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </h2>
          <div class="ac-panel">
            <p
              class="ac-text bg-white !p-5 !font-mulish !text-sm !font-bold !leading-[18px] !text-gray dark:!bg-white/5"
            >
              We are US based and work best for US based companies. However, we
              are also global operation and would love to work with you, no
              matter where you are located. Limiting factor might be that we are
              used to providers of services that are available in the US, so
              hosting, payment etc, we are familiar with those.
            </p>
          </div>
        </div>
        <div class="ac mt-5 border-none bg-transparent">
          <h2 class="ac-header rounded-t-md">
            <button
              type="button"
              class="ac-trigger relative !flex w-full items-center justify-between gap-2 !bg-gray/30 !px-5 !font-mulish !text-lg !font-bold !text-black after:!hidden ltr:text-left rtl:text-right dark:!text-white sm:!text-xl"
            >
              <div>How much I will pay?</div>
              <div
                class="trigger-icon grid h-6 w-6 place-content-center rounded-full border-2 border-gray text-black transition dark:text-white"
              >
                <svg
                  width="12"
                  height="12"
                  viewBox="0 0 12 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.09961 0.500977C6.65189 0.500977 7.09961 0.948692 7.09961 1.50098L7.09961 10.501C7.09961 11.0533 6.65189 11.501 6.09961 11.501H5.89961C5.34732 11.501 4.89961 11.0533 4.89961 10.501L4.89961 1.50098C4.89961 0.948692 5.34732 0.500977 5.89961 0.500977H6.09961Z"
                    fill="currentColor"></path>
                  <path
                    d="M0.5 5.90039C0.5 5.34811 0.947715 4.90039 1.5 4.90039H10.5C11.0523 4.90039 11.5 5.34811 11.5 5.90039V6.10039C11.5 6.65268 11.0523 7.10039 10.5 7.10039H1.5C0.947715 7.10039 0.5 6.65268 0.5 6.10039V5.90039Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </h2>
          <div class="ac-panel">
            <p
              class="ac-text bg-white !p-5 !font-mulish !text-sm !font-bold !leading-[18px] !text-gray dark:!bg-white/5"
            >
              Our prices are public and same for every client. You can engage us
              interactively and pay in 2 week intervals. Or there are packages
              for apps, for clients that prefer that way of working. We do limit
              features that are possible to be done in such interval, but you
              can engage us weekly afterwards if you want to add more features.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
