<div
  class="flex min-h-screen flex-col bg-white bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] font-mulish text-base font-normal text-gray antialiased dark:bg-[#101926] dark:from-transparent dark:to-transparent"
>
  <div class="-mt-[82px] flex-grow overflow-x-hidden lg:-mt-[106px]">
    <div
      class="overflow-hidden bg-[#08111F]
       pt-[82px] sm:-mx-[250px] sm:rounded-b-[50%] lg:-mx-[150px] lg:pt-[106px]"
    >
      <div class="relative">
        <img
          src="assets/images/banner-lefticon.png"
          alt="banner-lefticon"
          class="absolute left-0 top-20 sm:left-[250px] lg:left-[150px]"
        />
        <img
          src="assets/images/banner-rightIcon.png"
          alt="banner-rightIcon"
          class="absolute right-0 -top-4 sm:right-[250px] lg:right-[150px]"
        />
        <div class="container max-w-[1142px]">
          <div
            class="relative bg-[url(assets/images/world-map.png)] bg-cover bg-top bg-no-repeat pt-14 pb-0 lg:pt-20 lg:pb-60 xl:pt-36"
          >
            <div
              class="relative z-[1] text-center text-white lg:w-3/5 ltr:lg:text-left rtl:lg:text-right xl:w-1/2"
            >
              <h2
                class="text-2xl font-extrabold leading-normal sm:text-3xl lg:text-[70px] lg:leading-[90px]"
              >
                <span class="no-wrap">
                  Create the <span class="text-primary">Future</span>
                  <small>with</small>
                  <br />
                  <span class="italic text-secondary">AI and Tech</span>
                </span>
              </h2>
              <p class="my-8 text-xl lg:w-[90%]">
                Have your projects developed by <span
                  class="italic text-primary">team of skilled developers</span
                >, <span class="italic text-secondary">enhanced by AI</span>
                and superior tools.
              </p>
              <a
                href="offer.html"
                class="btn mx-auto mt-2 block w-fit bg-white lg:mx-0 lg:rtl:ml-auto"
                >read more</a
              >
            </div>
            <div
              class="bottom-0 mx-auto w-auto ltr:right-0 rtl:left-0 md:w-[540px] lg:absolute xl:w-[650px]"
              data-aos="fade-left"
              data-aos-duration="1000"
            >
              <img
                src="assets/images/home-banner-icon.svg"
                alt="home-banner-icon"
                class="rtl:rotate-y-180"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
