<div
  class="bg-[url(assets/images/inner-page-hero-bg.png)] bg-cover bg-bottom bg-no-repeat pt-[82px] lg:pt-[0px]"
>
  <div class="relative">
    <div class="container max-w-[1142px]">
      <div class="relative items-center py-14 lg:flex lg:py-[100px]">
        <div
          class="relative z-[1] text-center text-white lg:w-3/5 ltr:lg:text-left rtl:lg:text-right xl:w-3/5"
        >
          <h2
            class="text-4xl font-black sm:text-5xl sm:leading-[126px] xl:text-[100px]"
          >
            The Method
          </h2>
          <p class="my-8 text-xl leading-[40px] text-[#7780A1]">
            Our method is focused on your needs and goals, very light on
            process. Also focused on producing visible results so that feedback
            loop work well. Like Agile was meant to be.
          </p>
          <a href="start.html" class="btn mt-2 capitalize text-white"
            >Click here to hire us</a
          >
        </div>
        <div
          class="top-[100px] mt-10 h-96 w-auto ltr:right-0 rtl:left-0 lg:absolute lg:mt-0 lg:h-auto lg:w-2/5"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <img
            src="assets/images/services-detail-phone.png"
            alt="services-detail-phone"
            class="mx-auto h-full"
          />
        </div>
      </div>
    </div>
  </div>
</div>
