<section class="bg-white/50 py-14 dark:bg-white/[0.03] lg:py-20">
  <div class="container max-w-[1142px]">
    <div class="heading mb-5 text-center">
      <h6 class="!text-secondary">Our offering</h6>
      <h4 class="">
        Pick one of the packages that suit your needs<br />
        or hire us on week to week basis.
      </h4>
    </div>
    <!-- MVP -->
    <div
      class="mt-14 grid gap-4 rounded-2xl py-8 px-4 sm:p-10 lg:mt-20 lg:grid-cols-2"
      style="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(71, 189, 255, 0.3) 0%, rgba(71, 189, 255, 0) 100%)"
    >
      <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
        <h4 class="">MVP in 90 days</h4>
        <p class="mt-6 text-lg font-semibold">
          We will follow our process as outlined in <a href="the-method.html"
            >The Method</a
          > to develop your MVP in 90 days.
        </p>
        <p class="mt-6 text-lg font-semibold">
          <table class="w-full">
            <tr>
              <th>Weeks</th>
              <th>Price per Week</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>4 weeks of prototyping and UI work</td>
              <td>$3,500</td>
              <td>$14K</td>
            </tr>
            <tr>
              <td>4 weeks of development</td>
              <td>$6,500</td>
              <td>$26K</td>
            </tr>
            <tr>
              <td>4 weeks for launch and optimizing</td>
              <td>$1,500</td>
              <td>$6K</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong>$46K</strong></td>
            </tr>
            <tr class="h-8 text-xl">
              <td colspan="2"><strong>Package discount</strong></td>
              <td><strong>$35K</strong></td>
            </tr>
          </table>
        </p>
        <a
          href="offer-mvp"
          class="mt-8 inline-flex items-center gap-4 text-lg font-extrabold text-primary transition hover:text-secondary lg:mt-14"
        >
          <span>Details</span>
          <img src="/assets/svg/up-arrow.svg" />
        </a>
      </div>
      <div class="lg:ltr:pl-24 lg:rtl:pr-24">
        <img
          src="assets/images/modern-saas/optimization.png"
          alt=""
          class="rounded-2xl"
        />
      </div>
    </div>
    <!-- Micro Saas -->
    <div
      class="mt-10 grid gap-4 rounded-2xl py-8 px-4 sm:p-10 lg:mt-16 lg:grid-cols-2"
      style="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(180, 118, 229, 0.3) 0%, rgba(180, 118, 229, 0) 100%)"
    >
      <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
        <h4 class="">Micro Saas in 6 weeks</h4>
        <p class="mt-6 text-lg font-semibold">
          We will follow our process as outlined in <a href="the-method.html"
            >The Method</a
          > to develop your MVP in 90 days.
        </p>
        <p class="mt-6 text-lg font-semibold">
          <table class="w-full">
            <tr>
              <th>Weeks</th>
              <th>Price per Week</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>2 weeks of prototyping and UI work</td>
              <td>$3,500</td>
              <td>$7,000</td>
            </tr>
            <tr>
              <td>2 weeks of development</td>
              <td>$6,500</td>
              <td>$13,000</td>
            </tr>
            <tr>
              <td>2 weeks for launch and optimizing</td>
              <td>$1,500</td>
              <td>$3,000</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong>$23,000</strong></td>
            </tr>
            <tr class="h-8 text-xl">
              <td colspan="2"><strong>Package discount</strong></td>
              <td><strong>$19,000</strong></td>
            </tr>
          </table>
        </p>
        <a
          href="start.html"
          class="mt-8 inline-flex items-center gap-4 text-lg font-extrabold text-secondary transition hover:text-primary lg:mt-14"
        >
          <span>Start</span>
          <img src="/assets/svg/up-arrow.svg" />
        </a>
      </div>
      <div class="lg:ltr:pl-24 lg:rtl:pr-24">
        <img
          src="assets/images/modern-saas/migrate-modernize.png"
          alt=""
          class="rounded-2xl"
        />
      </div>
    </div>
    <!-- Company Website -->
    <div
      class="mt-10 grid gap-4 rounded-2xl py-8 px-4 sm:p-10 lg:mt-16 lg:grid-cols-2"
      style="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(112, 10, 45, 0.3) 0%, rgba(163, 100, 55, 0) 100%)"
    >
      <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
        <h4 class="">Company website in 6 weeks</h4>
        <p class="mt-6 text-lg font-semibold">
          We will follow our process as outlined in <a href="the-method.html"
            >The Method</a
          > to develop your good looking, potentially multilingual website with a
          blog in 6 weeks.
        </p>
        <p class="mt-6 text-lg font-semibold">
          <table class="w-full">
            <tr>
              <th>Weeks</th>
              <th>Price per Week</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>4 weeks of prototyping and UI work</td>
              <td>$3,500</td>
              <td>$14,000</td>
            </tr>
            <tr>
              <td>2 weeks for launch and optimizing</td>
              <td>$1,500</td>
              <td>$3,000</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong>$17,000</strong></td>
            </tr>
            <tr class="h-8 text-xl">
              <td colspan="2"><strong>Package discount</strong></td>
              <td><strong>$15,000</strong></td>
            </tr>
          </table>
        </p>
        <a
          href="start.html"
          class="mt-8 inline-flex items-center gap-4 text-lg font-extrabold text-secondary transition hover:text-primary lg:mt-14"
        >
          <span>Start</span>
          <img src="/assets/svg/up-arrow.svg" />
        </a>
      </div>
      <div class="lg:ltr:pl-24 lg:rtl:pr-24">
        <img
          src="assets/images/modern-saas/migrate-modernize.png"
          alt=""
          class="rounded-2xl"
        />
      </div>
    </div>

    <!-- Ongoing engagement -->
    <div
      class="mt-10 grid gap-4 rounded-2xl py-8 px-4 sm:p-10 lg:mt-16 lg:grid-cols-2"
      style="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(100, 90, 182, 0.3) 0%, rgba(180, 118, 229, 0) 100%)"
    >
      <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
        <h4 class="">Ongoing engagement</h4>
        <p class="mt-6 text-lg font-semibold">
          It is hard to estimate needs, if you are comfortable with the idea of
          hiring us on a week to week basis, we will work with you using same
          method as we do for our packages. <br />
          <br />
          You will be billed for 2 weeks in advance in this case.
        </p>
        <p class="mt-6 text-lg font-semibold">
          <table class="w-full">
            <tr>
              <th>Activity</th>
              <th>Price per Week</th>
            </tr>
            <tr>
              <td>A week of prototyping and UI work</td>
              <td>$3,500</td>
            </tr>
            <tr>
              <td>A week of development</td>
              <td>$6,500</td>
            </tr>
            <tr>
              <td>A week for launch and optimizing</td>
              <td>$1,500</td>
            </tr>
          </table>
        </p>
        <a
          href="start.html"
          class="mt-8 inline-flex items-center gap-4 text-lg font-extrabold text-secondary transition hover:text-primary lg:mt-14"
        >
          <span>Start</span>
          <img src="/assets/svg/up-arrow.svg" />
        </a>
      </div>
      <div class="lg:ltr:pl-24 lg:rtl:pr-24">
        <img
          src="assets/images/modern-saas/migrate-modernize.png"
          alt=""
          class="rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
