<section class="mt-14 mb-10 md:mt-20">
  <div class="container">
      <div class="heading mb-12 text-center md:!mb-[90px] lg:max-w-[584px] ltr:lg:text-left rtl:lg:text-right">
          <h4 class="!font-black">Main <span class="bg-secondary p-1 text-white">benefits</span> that you will get with this service.</h4>
          <p class="mt-5 text-lg font-medium">
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
          </p>
      </div>
      <div class="grid grid-cols-1 gap-[30px] sm:grid-cols-2 lg:grid-cols-3" data-aos="fade-up" data-aos-duration="1000">
          <div
              class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
          >
              <!-- <span>
                  <img class="my-svg" src="/assets/svg/icon-email.svg" />
              </span> -->
              <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Progressive Web App</h3>
              <p class="mt-4 text-lg font-semibold">Your app will work well on computers as well as mobile devices. But even more then that, it will have features of mobile apps if that is required, location, photos, notifications.</p>
          </div>
          <div class="mt-0 lg:-mt-7">
              <div
                  class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
              >
                  <!-- <span>
                      <img class="my-svg" src="/assets/svg/icon-loudspeaker.svg" />
                  </span> -->
                  <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Deep linking</h3>
                  <p class="mt-4 text-lg font-semibold">When you promote your app you can link to specific parts and not just homepage.</p>
              </div>
          </div>
          <div class="mt-0 lg:-mt-14">
              <div
                  class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
              >
                  <!-- <span>
                      <img class="my-svg" src="/assets/svg/icon-search.svg" />
                  </span> -->
                  <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Admin Panel</h3>
                  <p class="mt-4 text-lg font-semibold">Be in control of your data and update and manage it from control panel with all your data sources.</p>
              </div>
          </div>
          <div
              class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
          >
              <!-- <span>
                  <img class="my-svg" src="/assets/svg/icon-funnel.svg" />
              </span> -->
              <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Analytics</h3>
              <p class="mt-4 text-lg font-semibold">We will set you up with Analytics of your choice to track and manage behavior.</p>
          </div>
          <div class="mt-0 lg:-mt-4">
              <div
                  class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
              >
                  <!-- <span>
                      <img class="my-svg" src="/assets/svg/icon-video.svg" />
                  </span> -->
                  <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Content Marketing</h3>
                  <p class="mt-4 text-lg font-semibold">We help develop company websites to be more professional and attractive</p>
              </div>
          </div>
          <div class="mt-0 lg:-mt-11">
              <div
                  class="rounded-[10px] border-2 border-transparent bg-white p-[30px] shadow-[-20px_30px_70px_rgba(219,222,225,0.4)] duration-200 hover:border-2 hover:border-secondary hover:bg-secondary/20 dark:bg-gray-dark dark:shadow-none"
              >
                  <!-- <span>
                      <img class="my-svg" src="/assets/svg/icon-thumbsup.svg" />
                  </span> -->
                  <h3 class="mt-7 text-[22px] font-extrabold text-black dark:text-white">Payment integration</h3>
                  <p class="mt-4 text-lg font-semibold">Best apps make money, we will connect you with Stripe.</p>
              </div>
          </div>
      </div>
  </div>
</section>