<section class="bg-white/50 py-14 dark:bg-white/[0.03] lg:py-20">
  <div class="container max-w-[1142px]">
    <div class="heading mb-5 text-center">
      <h6 class="!text-secondary">Our offer</h6>
      <h4 class="">
        Let us build and launch your MVP in 90 days
      </h4>
    </div>

    <div
      class="mt-14 grid gap-4 rounded-2xl py-8 px-4 sm:p-10 lg:mt-20 lg:grid-cols-2"
      style="background: radial-gradient(193.33% 779.99% at 81.67% -6.05%, rgba(71, 189, 255, 0.3) 0%, rgba(71, 189, 255, 0) 100%)"
    >
      <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right">
        <h4 class="">MVP in 90 days</h4>
        <p class="mt-6 text-lg font-semibold">
          We will follow our process as outlined in <a href="the-method.html"
            >The Method</a
          > to develop your MVP in 90 days.
        </p>
        <p class="mt-6 text-lg font-semibold">
          <table class="w-full">
            <tr>
              <th>Weeks</th>
              <th>Price per Week</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>4 weeks of prototyping and UI work</td>
              <td>$3,500</td>
              <td>$14K</td>
            </tr>
            <tr>
              <td>4 weeks of development</td>
              <td>$6,500</td>
              <td>$26K</td>
            </tr>
            <tr>
              <td>4 weeks for launch and optimizing</td>
              <td>$1,500</td>
              <td>$6K</td>
            </tr>
            <tr>
              <td colspan="2"><strong>Total</strong></td>
              <td><strong>$46K</strong></td>
            </tr>
            <tr class="h-8 text-xl">
              <td colspan="2"><strong>Package discount</strong></td>
              <td><strong>$35K</strong></td>
            </tr>
          </table>
        </p>
        <a
          href="start.html"
          class="mt-8 inline-flex items-center gap-4 text-lg font-extrabold text-primary transition hover:text-secondary lg:mt-14"
        >
          <span>Start</span>
          <img src="/assets/svg/up-arrow.svg" />
        </a>
      </div>
      <div class="lg:ltr:pl-24 lg:rtl:pr-24">
        <img
          src="assets/images/modern-saas/optimization.png"
          alt=""
          class="rounded-2xl"
        />
      </div>
    </div>
  </div>
</section>
