<section
  class="bg-[#101926] bg-[url(assets/images/modern-saas/banner-bg.png)] bg-cover bg-top bg-no-repeat pt-[82px] lg:pt-[0px]"
>
  <div class="container max-w-[1142px] lg:pt-7">
    <div class="relative">
      <div
        class="pt-14 pb-8 text-center text-white lg:w-3/5 lg:py-20 ltr:lg:text-left rtl:lg:text-right"
      >
        <h2
          class="text-3xl font-extrabold leading-normal sm:text-5xl lg:text-[70px] lg:leading-[90px]"
        >
          We will develop your
          <span class="text-secondary">business idea,</span>
          launch it in
          <span class="text-primary">90 days</span>
        </h2>
        <p class="my-8 text-lg lg:w-3/4">
          We will develop your business idea in 90 days using our unique highly
          efficient method.
        </p>
        <a
          href="start.html"
          class="btn mx-auto mt-2 block w-fit bg-white lg:mx-0 lg:rtl:ml-auto"
          >Start</a
        >
      </div>
      <div
        class="top-[70px] w-full pb-7 ltr:right-0 rtl:left-0 rtl:right-auto lg:absolute lg:max-w-[630px] lg:pb-0 xl:ltr:-right-52 xl:rtl:-left-52"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <img src="assets/images/modern-saas/banner-img.png" alt="" />
      </div>
    </div>
  </div>
</section>
