<section class="py-12 dark:bg-[#08111F] lg:py-24 -mt-10">
  <div class="container max-w-[1140px]">
    <div
      class="flex flex-col items-center gap-5 lg:flex-row"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      <div class="flex-none lg:max-w-[130px]">
        <div class="grid grid-cols-3 gap-3 sm:gap-5 lg:grid-cols-1">
          <div
            class="rounded-[10px] bg-white py-4 px-6 text-center shadow-[0_0_20px_rgba(0,0,0,0.1)] dark:bg-white/10 sm:py-[19px]"
          >
            <span>
              <img
                src="assets/images/consulting/about-icon1.svg"
                class="mx-auto"
                alt=""
              />
            </span>
            <p
              class="text-b mt-2 font-semibold text-black dark:text-white sm:text-xl"
            >
              Prototype
            </p>
          </div>
          <div
            class="rounded-[10px] bg-white py-4 px-6 text-center shadow-[0_0_20px_rgba(0,0,0,0.1)] dark:bg-white/10 sm:py-[19px]"
          >
            <span>
              <img
                src="assets/images/consulting/about-icon2.svg"
                class="mx-auto"
                alt=""
              />
            </span>
            <p class="mt-2 font-semibold text-black dark:text-white sm:text-xl">
              Develop
            </p>
          </div>
          <div
            class="rounded-[10px] bg-white py-4 px-6 text-center shadow-[0_0_20px_rgba(0,0,0,0.1)] dark:bg-white/10 sm:py-[19px]"
          >
            <span>
              <img
                src="assets/images/consulting/about-icon3.svg"
                class="mx-auto"
                alt=""
              />
            </span>
            <p class="mt-2 font-semibold text-black dark:text-white sm:text-xl">
              Launch!
            </p>
          </div>
        </div>
      </div>
      <div class="grid flex-1 grid-cols-1 items-center gap-10 md:grid-cols-2">
        <div>
          <img
            src="assets/images/consulting/about-img.png"
            class="mx-auto"
            alt=""
          />
        </div>
        <div class="space-y-4 text-center ltr:md:text-left rtl:md:text-right">
          <h3
            class="text-3xl font-black uppercase text-black dark:text-white sm:text-[40px] sm:leading-[60px]"
          >
            1-2-3 Offer
          </h3>
          <p class="text-3xl font-medium pb-4">
            We will develop your idea into functioning and viable app and launch
            it, in 90 days.
          </p>
          <a
            href="offer.html"
            class="btn block w-fit rounded-md text-white shadow-[10px_15px_30px_rgba(119,128,161,0.2)]"
            lg:mx-0
            lg:rtl:ml-auto">Start</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
