<section
  class="bg-gradient-to-t from-white/[55%] to-transparent py-14 dark:bg-none lg:py-[100px]"
>
  <div class="container max-w-[1142px]">
    <div class="heading text-center ltr:lg:text-left rtl:lg:text-right">
      <h4 class="sm:!leading-[50px]">Book a call to get started</h4>
    </div>

    <!-- Contact Form -->
    <div class="relative z-10 lg:flex text-xl">
      <div class="tidycal-embed" data-path="zeljko/introduction"></div>
      <script src="https://assets.tidycal.com/js/embed.js" async></script>
    </div>
  </div>
</section>
